.drop-down {
  padding: 5px 15px 5px 5px;
  width: 15%;
  margin-right: 50px;
}

.search-btn {
  background-color: #f86e1d;
  border: 0px;
  padding: 5px 15px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
